/* .fnt-12 {
  font-size: 12px;
  color: rgb(132, 142, 156);
} */

.fnt-20 {
  font-size: 20px;
  color: rgb(132, 142, 156);
}

:focus-visible {
  outline: none !important;
}
@media (min-width: 768px) {
  .w-tab {
    flex: 0 0 auto;
    width: 100%;
    max-width: 320px;
  }
}

.container {
  max-width: 1540px;
}

.select {
  width: 90px;
}

.menu img {
  width: 24px;
  height: 24px;
}

.menu button {
  background: transparent;
  border: none;
}
